@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css";
@import 'bower_components/bourbon/dist/bourbon';
@import "bower_components/sass-flex-mixin/flex";
@import "config";
@import "functions";
@import "mixins";
@import "sort-icon";
@import "loader";
@import "sections/sessions";
@import "sections/session";

body{
  padding: 1rem;
  background-color: steelblue;
  font-size: $main-font-size;
  font-family: "Roboto", helvetica;
}
*{
  box-sizing: border-box;
}