//Sizes
$base-rem: 16px;
$main-font-size: 0.8rem !default;
$border-radius: 5px;

//Breakpoints
$big-breakpoint: 680px;
$medium-breakpoint: 655px;

//Colors
$main-color: #757575;
$active-color: #4E5066;
$light-gray: #EBEBEB;
$light-blue: #3498DB;
$red: #E74C3C;
$black: #1b1e24;
$gray: #343a45;