@mixin default-transition() {
  @include transition(all 0.3s ease);
}
@mixin active-element() {
  @include default-transition;
  cursor: pointer;
  color: white;
  background-color: $active-color;
  text-shadow: none;
}
@mixin highlight() {
  @include default-transition;
  cursor: pointer;
  background-color: $light-gray;

  &:hover{
    background-color: $active-color;
    color: white;
  }
}