$bg: #999;

.sort-icon{
  @include transition(box-shadow 0.2s cubic-bezier(0.25, -0.25, 0.75, 1.25), transform 0.2s cubic-bezier(0.25, -0.25, 0.75, 1.25));
  @include transform(translate3d(-1px, -1px, 0));
  width: px-to-rem(2px);
  height: px-to-rem(2px);
  right: px-to-rem(10px);
  top: 50%;
  background: $bg;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 $bg, 0 0 $bg, 0 0 $bg, 0 0 $bg, 0 0 $bg, 0 0 $bg, 0 0 $bg, 0 0 $bg;

  &.asc{
    @include transform(translate3d(-1px, 2px, 0) !important);
    box-shadow: -6px 0 $bg, -3px 0 $bg, -3px -3px $bg, 0 -3px $bg, 0 -6px $bg, 3px 0 $bg, 3px -3px $bg, 6px 0 $bg !important;
  }
  &.desc{
    @include transform(translate3d(-1px, -4px, 0) !important);
    box-shadow: -6px 0 $bg, -3px 0 $bg, -3px 3px $bg, 0 3px $bg, 0 6px $bg, 3px 0 $bg, 3px 3px $bg, 6px 0 $bg !important;
  }
}
th:hover .sort-icon{
  @include transform(translate3d(-1px, -1px, 0));
  box-shadow: -6px 0 $bg, 0 0 $bg, 0 -6px $bg, 0 0 $bg, 6px 0 $bg, 0 0 $bg, 0 0 $bg, 0 6px $bg;
}