#sessions-section{
  margin-top: 1rem;
  text-align: center;
  width: 100%;

  ul, li{
    display: inline;
  }

  header{
    @include flexbox;
    @include justify-content(space-arround);
    color: $main-color;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $black;

    @media screen and (min-width: $medium-breakpoint) {
      margin-bottom: 0.5rem;
      border-radius: $border-radius;
    }

    .pagination{
      @include flex(3);
      text-align: center;
      padding: 0;
    }

    li{
      @include highlight;
      border: 1px solid white;
      padding: 0.5rem;
      border-radius: $border-radius;
      font-size: 11px;

      &.is-active{
        background-color: $active-color;
        color: white;
      }
    }
    @media screen and (max-width: $medium-breakpoint) {
      .static-page, .dots{
        display: none;
      }
    }
  }
  .table-wrapper{
    position: relative;
    display: inline-block;

    @media screen and (max-width: $medium-breakpoint) {
      width: 100%;
    }

    &.loading{
      &:before{
        content: " ";
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
        z-index: 9;
        border-radius: $border-radius $border-radius 0 0;
      }
    }

    .main-loader{
      top: px-to-rem(200px);
    }

    table{
      border-collapse: collapse;
      border-spacing: 0;
      max-width: 100%;
      box-shadow: 0 5px 10px rgba(black, 0.1);
      border-radius: $border-radius;

      @media screen and (max-width: $big-breakpoint) {
        font-size: 11px;
      }

      @media screen and (max-width: $medium-breakpoint) {
        width: 100%;
        font-size: 20px;
      }

      thead{
        background: $black;
        @media screen and (max-width: $medium-breakpoint) {
          display: none;
        }
        th{
          position: relative;
          color: #D5DDE5;
          background: $black;
          border-bottom: 4px solid #9ea7af;
          border-right: 1px solid $gray;
          text-shadow: 0 1px 1px rgba(black, 0.1);
          font-weight: lighter;

          &:first-child{
            border-top-left-radius: $border-radius;
          }
          &:last-child{
            border-top-right-radius: $border-radius;
            border-right: none;
          }
          &:hover{
            @include active-element;
          }
        }
      }
      th, td{
        background-color: white;
        padding: 1.3rem;
        color: $main-color;
        text-align: center;

        @media screen and (max-width: $big-breakpoint) {
          padding: 1.1rem;
        }
      }
      tbody{
        @media screen and (min-width: $medium-breakpoint) {
          &:hover td{
            color: transparent;
            text-shadow: 0 0 3px #aaa;
          }
        }
        tr{
          background-color: white;

          &:last-child td{
            border-bottom: none;
            &:first-child{
              border-bottom-left-radius: $border-radius;
            }
            &:last-child{
              border-bottom-right-radius: $border-radius;
            }
          }
          &:nth-of-type(odd){
            background-color: $light-gray;
            td{
              background-color: $light-gray;
            }
          }
          @media screen and (max-width: $medium-breakpoint) {
            border-bottom: 1px solid rgba(black, 0.12);
          }

          @media screen and (min-width: $medium-breakpoint) {
            &:hover td{
              @include active-element;
            }
          }
          td{
            @include default-transition;
            border-bottom: 1px solid rgba(black, 0.12);
            text-shadow: -1px -1px 1px rgba(black, 0.1);
            color: #666B85;

            @media screen and (max-width: $medium-breakpoint) {
              display: block;
              text-align: left;
              border-bottom: none;
              font-weight: bold;

              &:before{
                content: attr(data-label)": ";
                text-transform: capitalize;
                color: $active-color;
                font-weight: bold;
                width: 10rem;
                display: inline-block;
              }
            }
          }
        }
      }

      .encoded-trace-badge{
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin: 0 auto;

        @media screen and (max-width: $medium-breakpoint) {
          display: inline-block;
        }
        &.enable{
          background-color: $light-blue;
        }
        &.disable{
          background-color: $red;
        }
      }

      @media screen and (min-width: $medium-breakpoint) {
        //Highlight active columns
        &.id{td.id{@include active-element;}}
        &.start-time{td.start-date{@include active-element;}}
        &.end-time{td.end-date{@include active-element;}}
        &.duration{td.duration{@include active-element;}}
        &.distance{td.distance{@include active-element;}}
        &.sport-type-id{td.sport-type{@include active-element;}}
        &.has-encoded-trace{td.encoded-trace{@include active-element;}}
      }
    }
  }
}