#sessions-section{
  $main-color: #757575;
  $active-color: #b3e5fc;
  @mixin active-column() {
    background-color: rgba($active-color, 0.5);
  }
  @mixin highlight() {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
      background-color: $active-color;
    }
  }
  @mixin shadow() {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(black, 0.12), 0 1px 2px 0 rgba(black, 0.24);
  }

  width: 90%;
  margin: 0 auto;
  overflow-x: auto;

  ul, li{
    display: inline;
  }

  header{
    @include shadow;
    @include flexbox;
    @include justify-content(space-arround);
    margin-bottom: 0.5rem;
    color: $main-color;

    button{
      @include flex(1);
      margin: 0.5rem;
      max-width: 5rem;
    }

    .pagination{
      @include flex(3);
      text-align: center;
    }

    li{
      @include highlight;
      border: 1px solid #ccc;
      padding: 0.5rem;
      border-radius: 3px;
      font-size: 11px;

      &.is-active{
        background-color: $active-color;
      }
    }
  }
  .table-wrapper{
    @include shadow;
    position: relative;

    &.loading{
      pointer-events: none;

      &:before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
      }
    }

    .main-loader{
      top: px-to-rem(200px);
    }

    table{
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
      background-color: #ffffff;

      thead{
        th{
          cursor: pointer;
          position: relative;
          border-bottom: 2px solid rgba(black, 0.12);

          &:hover{
            @include active-column;
          }
        }
      }
      th, td{
        padding: 1.6rem;
        color: $main-color;
        text-align: center;
      }
      tbody{
        tr{
          @include highlight;
          td{
            border-bottom: 1px solid rgba(black, 0.12);
          }
        }
      }

      .encoded-trace-badge{
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin: 0 auto;

        &.enable{
          background-color: #3498DB;
        }
        &.disable{
          background-color: #E74C3C;
        }
      }

      //Highlight active columns
      &.id{td.id{@include active-column;}}
      &.start-time{td.start-date{@include active-column;}}
      &.end-time{td.end-date{@include active-column;}}
      &.duration{td.duration{@include active-column;}}
      &.distance{td.distance{@include active-column;}}
      &.sport-type-id{td.sport-type{@include active-column;}}
      &.has-encoded-trace{td.encoded-trace{@include active-column;}}
    }
  }
}