button{
  $size: 22px;
  @include flex(1);
  margin: 0.55rem 1.2rem;
  max-width: 4rem;
  position: relative;
  padding: 2.8px 14px 2.8px 14px;
  background: $light-gray;
  font-size: 14px;
  border: none;
  height: $size;
  outline: none;

  &:disabled{
    opacity: 0.7;
  }
  &:not(:disabled):hover{
    color: $active-color;
    text-shadow: 0 0 3px #aaa;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-width: 11px;
    border-style: solid;
  }
  &.prev-button:after {
    left: -$size;
    border-color: transparent $light-gray transparent transparent;
  }
  &.next-button:after {
    right: -$size;
    border-color: transparent transparent transparent $light-gray;
  }

  @media screen and (max-width: $medium-breakpoint) {
    @include flex(none);
    width: 2.5rem;
  }
  &.prev-button:before{
    content: "Prev";
    @media screen and (max-width: $medium-breakpoint) {
      content: "←";
    }
  }
  &.next-button:before{
    content: "Next";
    @media screen and (max-width: $medium-breakpoint) {
      content: "→";
    }
  }
}