<div>{{#link-to "sessions" tagName="button"}}Back{{/link-to}}</div>
{{#if model.hasEncodedTrace}}
  <div id="map"></div>
{{else}}
  <div class="no-encoded-trace">Session <b>{{model.id}}</b> without encoded trace :(</div>
{{/if}}